.main {
	margin-top: 60px;
}
.footer {
	margin-top: 10px;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 60px;
}

.logo {
	display: flex;
	flex: 0 0 250px;
	height: 57px;
	width: 180px;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0;
	color: #fff;
	font-size: 1rem;
}
.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 100px auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
.logout {
	margin: 10px 10px 10px auto;
}
a:link {
    text-decoration: none;
	color: black;
}

a:visited {
    text-decoration: none;
	color: black;
}

a:hover {
    text-decoration: none;
	color: black;
}

a:active {
    text-decoration: none;
	color: black;
}
.card {
	background: #fff;
	border-radius: 2px;
	display: inline-block;
	height: 300px;
	margin: 1rem;
	position: relative;
	width: 300px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .card-2 {
	background: #fff;
	border-radius: 2px;
	align-self: flex-start;
	height: 600px;
	margin: 1rem;
	position: relative;
	width: 60%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .about-product{
    width: 40%;
	margin-top: 50px;
  }
.product-image{
	width: 100%;
	height: 80%;
}
.product-desc{
	display: inline-flex;
	padding: 20px;
}
.product-mrp{
	margin-left: 10px;
}
.product-details{
	display: inline-flex;
}